/* Color primario de fondo */
body {
  background-image: url(img/Frame\ 2.png);
  background-size: cover;
  background-repeat: no-repeat;
   color: white;
}


@media screen and (max-width:375xp) {
  .backnav {
    width: 100%;
  }
}


/* Header o navbar*/

.backnav{
  background: rgba(32, 17, 5, 0.849);
  background-image: url(img/backnav.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  
  background-blend-mode: darken;
  box-shadow: 1px 31px 47px -17px rgba(0,0,0,0.52);
-webkit-box-shadow: 1px 31px 47px -17px rgba(0,0,0,0.52);
-moz-box-shadow: 1px 31px 47px -17px rgba(0,0,0,0.52);
 
}


.imgproducto{
  background-position: center;
 width: 300px;
}


.scroll-container {
  
  height: 800px;
 
}

a, .nav-link{
  color:#ffffff ;
  font-weight:bold;
}

.nav-pills {
  --bs-nav-pills-border-radius: var(--bs-border-radius);
  --bs-nav-pills-link-active-color: #ffffff;
  --bs-nav-pills-link-active-bg: #552417;
}
/*Aplica la opacidad y el fondo no redondeado a la presentacion y equipo de trabajo*/
.backpresent{
  background-color: #c78a2e49;
  border: none;
}



/* Color secundario en algunos elementos de la página */
#servicios h2,
#cotizar-form h2 {
  color: #99CBFA;
  border-bottom: 1px solid #99CBFA;
}

/* Color de acento en los títulos de la página */
h1, h2, h3 {
  font-family: 'Inconsolata', monospace;
  font-family: 'Racing Sans One', cursive;
  font-size: 60px;
  background: -webkit-linear-gradient(#383838bb, #c43f1e);
    -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* Margen a elementos principales de la página */
.container {
  margin-top: 50px;
  margin-bottom: 50px;
}

/* Botones */
.btn-primary {
  background-color: #ca5017;
  border-color: #ca5017;
}

.btn-primary:hover {
  background-color: #cab817;
  border-color: #cab817;
  color: #fff;
}

/* Img Productos */
.card-img-top {
  border-radius: 0;
  border: 1px solid #ddd;
  max-height: 250px;
}

.producto img {
  max-width: 100%;
  height: auto;
  margin-bottom: 20px;
}

/* Footer */
footer {
  background-color: #d1491f;
  padding: 20px;
  text-align: center;
  border-radius: 20px;
}

footer a {
  color: #fff;
}

footer a:hover {
  color: #D7E2FA;
}

.redes_sociales{
  color: black;
  padding: 15px;
}

.logos_redes{
  color: black;
}

#footerText{
  color: #552417;
}

/* Formularios */
.form-control:focus {
  border-color: #5a399e;
  box-shadow: none;
}

.form-group input[type="text"],
.form-group input[type="email"],
.form-group input[type="tel"] {
  border: 1px solid #5a399e;
}

.form-group input[type="text"]:focus,
.form-group input[type="email"]:focus,
.form-group input[type="tel"]:focus {
  border-color: #99CBFA;
}

.form-group .help-block {
  color: #dc3545;
  font-size: 14px;
  margin-top: 5px;
  display: none;
}

.form-group.has-error input[type="text"],
.form-group.has-error input[type="email"],
.form-group.has-error input[type="tel"] {
  border-color: #dc3545;
}

.form-group.has-error .help-block {
  display: block;
}

.margin-top {
  margin-bottom: 100px;
}

/* Presentaciones Personal */

.textosPersonales{
  font-family: 'Oswald', sans-serif;
  font-size: xx-large;
}

.titulosPesronales{
  font-family: 'Racing Sans One', cursive;
  font-size: xx-large;
}